<div class="modal fade" id="create-family-tree-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Создание дерева</h3>
            </div>
            <div class="modal-body">
                <div>Имя:</div>
                <input id="family-tree-name" type="text" />
            </div>
            <div class="modal-footer">
                <div class="btn btn-my-dark" data-dismiss="modal">Отмена</div>
                <div class="btn btn-my-danger" id="create-family-tree-submit-button">Добавить</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-person-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Удаление человека</h3>
            </div>
            <div class="modal-body">
                <div>Вы уверенны, что хотите удалить данного человека?</div>
                <div class="text-danger">Также будут удалены люди связанные с этим человеком.</div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-my-dark" data-dismiss="modal">Отмена</div>
                <div class="btn btn-my-danger" id="delete-person-submit-button">Удалить</div>
            </div>
        </div>
    </div>
</div>