@{
    ViewBag.Title = "О проекте";
    ViewBag.Active = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/css/About.css" type="text/css" rel="stylesheet">
}

@section HeaderText
{
    <div id="headerText">О проекте</div>
}

<div id="InformationBlock">    
        <div id="DipInf">Данная система была разработана в качестве дипломного проекта для БНТУ, Минск.</div>
        <div class="inf"><span class="blueText">Разработчик: </span>Empty</div>
        <div class="inf"><span class="blueText">Факультет: </span>Информационных технологий и робототехники</div>       
        <div class="inf"><span class="blueText">Группа: </span>Empty</div>       
</div>