body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#backgroundImageWrapper { /*2048*/
    /*max-width: 2048px;*/
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(../images/BackgroundSign.png);
    background-size: cover;
}



#wrapper {
    /*height: 900px;*/
    max-height: 100%;
    font: 20px Segoe UI Semilight sans-serif;
}

/*Header*/

#header {
    height: 112px;
    color: #ffffff;
    border-bottom: 1px solid #557FAF;
    width: 100%;
}

#logo {
    float: left;
    height: 100px;
    margin-left: 50px;
}

#logo img {   
    height: 110px;
}


.block {
     border: 1px solid #F00;
}


#menu {
    width: 650px;    
    height: 112px;
    margin-left: 100px;
    float: left;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    float: left;
}

#menu ul li a div {
    width: 160px;
    height: 70px;
    padding: 40px 0 72px 0;
    text-align: center;
    transition: all 0.8s;
    border-bottom: 6px solid rgba(0, 0, 0, 0);
}

#menu ul li a div:hover 
{
    background-color: #FFF;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 1);
    color: #1A73D2;
    transition: all 0.8s;
}

#menu li:hover a {
    color: #FFF;
}


.active {
    background-color: #FFF;
    color: #1A73D2;
    border-bottom: 4px solid #000;
}


#menu ul a {
    color: #CCC;
    text-decoration: none;
}

#aLogBtn {
    float: right;
    text-decoration: none;
}

.loginButton {    
    border: 1px solid #000;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    margin: 30px 0 0 0;
    border-radius: 20px;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.loginButton:hover {
    background-color: #000;
    color: #1A73D2;   
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    cursor: pointer;
}


/*Content*/

#loginPanel {
    background-color: inherit;    
    width: 480px;
    margin: 0 auto;
}

#ErrValidMessage {
    color: #bd0000;
    font-size: 20px;
    margin: -43px 0 15px 0;
}

.inputField {
    width: 480px;
    border: 2px solid #76ABEA;
    border-radius: 5px;
    height: 60px;
    color: #76ABEA;
    font-size: 30px;
    margin-bottom: 40px;
    transition: border-color 0.2s ease-in-out;
}

.inputField:hover{
    border-color: #ccc;
    transition: border-color 0.2s ease-in-out;    
}

.inputField:hover .Glif {
    color: #ccc;
    transition: color 0.2s ease-in-out; 
}

.Glif {
    font-size: 24px;
    float: left;
    margin: 14px 20px 0 15px;
    transition: color 0.2s ease-in-out;
}




#Account_Login, #Account_Pass, #Account_Pass_Confirm {
    width: 410px;
    height: 56px;
    border: none;
    background-color: inherit;
    color: #cfd9e4;
    font-weight: 100;
}

#contentText {
    font-family: "Segoe UI", sans-serif;
    font-size: 60px;
    color: #76ABEA;
    text-align: center;
    margin: 150px 0 70px 0;
    font-weight: 100;
}

#Submit {    
    float: left;
}

#submitInput {
    width: 200px;
    height: 50px;
    font-size: 22px;
    font-weight: 100;
}

#Register {
    width: 240px;
    margin-left: 240px;
    height: 50px;
    color: #76ABEA;
    padding-top: 9px;
    font-weight: 100;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    
}

#content a {
    text-decoration: none;
}

#Register:hover {
    color: #DDD;
    transition: color 0.2s ease-in-out;
}

#GlifReg {
    float: right;
    padding-top: 2px;    
}



/*Footer*/


#footer {
    background-repeat: no-repeat;
    background-image: url(../images/FooterBackground.png);
    background-size: cover;
    /*height: 210px;*/
    width: 100%;
    /*min-width: 1200px;
    max-width: 2048px;*/
    margin: 0 auto;
}

#footer .container {
    height: 100%;
   /* display: grid;
    grid-template-rows: 1fr 0fr;*/
}

#footer .container #footerMenu{
    /*height: 50%;*/
}

#footer .container .row{
    /*height: 50%;*/
}

#footerMenu {
    margin: 10px 0 58px 0;
}

#footerMenu a div {
    font: 16px Segoe UI Semilight sans-serif;
    color: #838383;
    text-transform: uppercase;
    height: 60px;
    padding: 30px 0 40px 0;
    text-align: center;
    border-bottom: 2px solid #33333D;
    transition: all 0.8s;
   
}

#footerMenu a div:hover 
{
    cursor: pointer;
    border-bottom: 2px solid #006EF6;
    color: #1A73D2;
    transition: all 0.8s;
    
}

#footerMenu a {
     text-decoration: none;
}

.nullPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



#copyright {
    font: 20px Segoe UI Semilight sans-serif;
    text-align: center;   
    padding-top: 25px;
    height: 70px;
    background-color: #0F54A2;  
    color: #76ABEA;
}
#author {
    color: #FFF;
}





