/* Временна убрана кнопка */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

#person-data-block,
.data-blocks,
.data-holders {
   display: none;
}

/* Data categories */
.data-categories__item {
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
    height: 104px;
    text-align: center;
    padding-top: 35px;
    background-color: #454545;
    color: #acacac;
    border-top: none;
    transition: 
        background-color 0.5s, 
        border-color 0.5s, 
        border-left-width 0.5s,
        color 0.5s;
}

.data-categories__item .checkbox {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px 5px 0 0;
}

.data-categories__item .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.data-categories__item:first-child {
    border-top: 1px solid #000;
}

.data-categories__item:hover {
    background-color: #FFF;
    border-color: #007cd3;
    border-left-width: 40px;    
    color: #0096FF;
    transition: 
        background-color 0.5s, 
        border-color 0.5s, 
        border-left-width 0.5s,
        color 0.5s;
}

.data-categories__item_active {
    background-color: #FFF;
    color: #313538;
    border-left: 40px solid #0096FF;
    border-color: #0096FF;
    cursor: default;
}

.data-categories__item_active:first-child {
    border-color: #0096FF;
}

.person-data-block__data-categories {
    margin: 5px 0px;
    width: 100%;
    float: left;
}
/* Data blocks */
.data-blocks {
}

.data-blocks__item {
    padding: 5px 0;
    cursor: pointer;
    margin: 0px auto;
    max-width: 700px;
}

.data-blocks__item:hover .data-block__body {
    background-color: #2f134a;    
    transition: all 0.5s;
}

.data-block .data-block__header {
    background-image: url("../images/TopBlockPreview.png");
    background-repeat: no-repeat;
    height: 107px;
    margin-bottom: -50px;
    position: relative;
    z-index: 2;
}

.data-block .data-block__footer {
    background-image: url("../images/BottomBlockPreview.png");
    background-repeat: no-repeat;
    height: 131px;
    margin-top: -80px;
    position: relative;
    z-index: 2;
}

.data-block .data-block__content {
    color: #AAA;
    float: left;
    position: relative;
    min-height: 1px;
    width: 90%;
}

.data-block .data-block__selector {
    float: left;
    position: relative;
    min-height: 1px;
    width: 10%;
    
    justify-content: center;
}

.data-block__selector input {
    width: 45px;
    height: 45px;
}

.data-block .data-block__body {
    padding: 50px 0 80px 0px;
    background-color: #333;
    position: relative;
    display: table;
    width: 100%;
}

.data-block__item {
    padding-left: 20px;
    margin-bottom: 10px;
}

.data-block__content:first-child {
    margin-top: 10px;
}

.data-block__item .data-block__title {
    color: #0096FF;
    display: inline-block;
}

.data-block__item .data-block__value {
    display: inline-block;
}

/* Data holders */
.data-holders {
}

.data-holders__item {
    margin-bottom: 10px;
    border: 1px solid #003E62;
    border-radius: 5px;
    width: 100%;
    height: 47px;
}

.data-holders .data-holders__item:last-child {
    margin-bottom: 0px;
}

.data-holder {
    display: table;
}

.data-holders__item.data-holder-gender {
    border: none;
}

.data-holder-textarea {
    display: table;
}

    .data-holder-textarea .data-holder-textarea__selector {
        width: 10%;
        float: left;
        background-color: #0096FF;
        border-bottom: 1px solid #003E62;
        height: 47px;
        border-radius: 5px 0px 0px 0px;
        padding: 0px 15px 0px 15px;
    }

.data-holder-textarea .data-holder-textarea__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

.data-holder-textarea .data-holder-textarea__title {
    width: 80%;
    float: left;
    background-color: #0096FF;
    color: #FFF;
    padding: 1% 0;
    text-align: center;
    height: 47px;
    border: 1px solid #003E62;
    border-top: none;
    border-radius: 0px;
}

.data-holder-textarea .data-holder-textarea__title div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.data-holder-textarea .data-holder-textarea__privacy {
    width: 10.002%;
    border-bottom: 1px solid #003E62;
    border-radius: 0px 5px 0px 0px;
    float: left;
    height: 47px;
}

.data-holder-textarea .data-holder-textarea__data {
    width: 100%;
    float: left;
}

.data-holder-textarea .data-holder-textarea__data textarea {
    border: none;
    resize: vertical;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    min-height: 150px;
}

textarea:focus {
    outline: none;
}

.data-holder-gender {
    display: table;
}

.data-holder-gender .data-holder-gender__title {
    width: 40%;
    float:left;
    background-color: #0096FF;
    color: #FFF;    
    padding: 1% 0;
    text-align: center;  
    height: 100%;    
    border: 1px solid #003E62;
    border-radius: 5px;
}

.data-holder-gender .data-holder-gender__title div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.data-holder-gender .data-holder-gender__data {
    width: 60%;
    float: left;
    height: 100%;
    padding: 5px 10px;
}

    .data-holder-gender .data-holder-gender__selector {
        float: left;
        background-color: #0096FF;
        border: 1px solid #003E62;
        border-right: none;
        border-radius: 5px 0px 0px 5px;
        padding: 0px 15px 0px 15px;
    }

.data-holder-gender .data-holder-gender__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

.data-holder-gender .data-holder-gender__privacy {
    border: 1px solid #003E62;
    border-radius: 5px;
    float: left;
    height: 100%;
}

.data-holder .data-holder__selector {
    float: left;
    background-color: #0096FF;
    border-right: 1px solid #003E62;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 15px 0px 15px;
}

.data-holder .data-holder__selector .checkbox input[type="checkbox"]{
    width: 25px;
    height: 25px;
    margin-top: 0;
}

.data-holder .data-holder__title {
    width: 30%;
    float: left;
    background-color: #0096FF;
    color: #FFF;
    text-align: center;
    height: 45px;
}

.data-holder .data-holder__title div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.data-holder .data-holder__data {
    width: 50%;
    float: left;
    height: 45px;
    padding: 1px 5px;
}

.data-holder__data input {
    width: 100%;
    height: 44px;
    border: none;
}

input:focus {
    outline:none;
}

.data-holder .data-holder__privacy {
    width: 10.002%;
    float: left;
    height: 45px;
}

/* Person data block data holders*/
.person-data-block .person-data-block__data-holders .data-holders__item .data-holder__selector {
    width: 10%;
    height: 45px;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder__title {
    width: 30%;
    border-right: 1px solid #003E62;
    height: 45px;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder__data {
    width: 50%;
    border-right: 1px solid #003E62;
}

.person-data-block .person-data-block__data-holders {
    width: 100%;
    float: left;
    position: relative;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder-gender__selector {
    width: 10%;
    height: 100%;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder-gender__title {
    width: 30%;
    border-radius: 0px 5px 5px 0px;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder-gender__data {
    width: 50%;
}

.person-data-block .person-data-block__data-holders .data-holders__item .data-holder-gender__privacy {
    width: 10%;
}

/* Create person block data holders*/
.create-person-block .create-person-block__buttons {
    margin: 0px 0px 10px 0px;
    width: 80%;
    float: left;
    position: relative;
    left: 5%;
}

.create-person-block .create-person-block__buttons .btn {
    font-size: 20px;
}

.create-person-block .data-holders {
    display: block;
}

.create-person-block .create-person-block__data-holders .data-holders__item .data-holder__title {
    width: 40%;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid #003E62;
}

.create-person-block .create-person-block__data-holders .data-holders__item .data-holder__data {
    width: 60%;
}

.create-person-block .create-person-block__data-holders .data-holders__item .data-holder__data input {
    border-radius: 0px 5px 5px 0px;
}

.create-person-block .create-person-block__data-holders {
    margin: 10px 0px;
    width: 80%;
    float: left;
    position: relative;
    left: 5%;
}

/* Toolbox */
.toolbox_buttons {
    margin: 5px auto;
    height: 45px;
}

.toolbox_buttons .btn div{
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.button-up .button-up__img {
    background-image: url("../lib/bootstrap/icons/arrow-up.svg");
}

.button-down .button-down__img {
    background-image: url("../lib/bootstrap/icons/arrow-down.svg");
}

.button-copy .button-copy__img {
    background-image: url("../lib/bootstrap/icons/clipboard.svg");
}

.button-delete .button-delete__img {
    background-image: url("../lib/bootstrap/icons/trash.svg");
}

.button-edit .button-edit__img {
    background-image: url("../lib/bootstrap/icons/pencil.svg");
}

.button-order .button-order__img {
    background-image: url("../lib/bootstrap/icons/list-ol.svg");
}

.button-back .button-back__img {
    background-image: url("../lib/bootstrap/icons/arrow-left.svg");
}

.button-add .button-add__img {
    background-image: url("../lib/bootstrap/icons/plus.svg");
}

.button-save .button-save__img {
    background-image: url("../lib/bootstrap/icons/check-square.svg");
    float: left;
}

.button-select .button-select__img {
    background-image: url("../lib/bootstrap/icons/check2-square.svg");
}

.button-caret-down .button-caret-down__img {
    background-image: url("../lib/bootstrap/icons/caret-down-fill.svg");
}

.edit-order__checkbox {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.dropdown-menu .dropdown-item {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    transition: all ease 0.5s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #0096FF;
    color: white;
    transition: all ease 0.5s;
}

.button-save .btn__vertical-separator {
    float: left;
    width: auto !important;
    display: inline-block;
    margin: 0px 5px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    height: 80%;
}

.button-save .btn__text {
    float: left;
    width: auto !important;
    margin: 0 5px;
    padding: 3px 0;
}

.button-paste .button-paste__img {
    background-image: url("../lib/bootstrap/icons/clipboard-check.svg");
}

.button-paste-participant .button-paste-participant__img {
    background-image: url("../lib/bootstrap/icons/person-add.svg");
}

.button-privacy .button-privacy__img {
    background-image: url("../lib/bootstrap/icons/lock-fill.svg");
}

.toolbox__horizontal-separator {
    width: 100%;
    margin: 5px 0px;
    border-bottom: 1px solid #ccc;
}

.toolbox__vertical-separator {
    display: inline-block;
    margin: 0px 5px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    height: 80%;
}

.data-category-dropdown-buttons {
    float: right;
}

#save-elements-button {
    float: right;
}

#save-elements-button .loader {
    display: none;
    float: left;
}

.data-blocks:empty::after {
    content: "Нажмите на + чтобы добавить блок для данных";
}

/* Tabs */
.tab-container.data-holders:empty::after {
    content: "Нажмите на + чтобы добавить данные";
}

.tab-container.images:empty::after {
    content: "Нажмите на + чтобы добавить изображение";
}

.tab-container.videos:empty::after {
    content: "Нажмите на + чтобы добавить видео";
}

.tab-container.audios:empty::after {
    content: "Нажмите на + чтобы добавить аудио";
}

.tabs-buttons .tabs-buttons__button {
    height: 75px;
    border: 1px solid lightgray;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
    transition: background-color ease 0.5s, box-shadow ease 0.5s, color ease 0.5s;
}

.tabs-buttons .tabs-buttons__button:hover {
    background: #0096FF;
    box-shadow: 0px 0px 4px #0096FF;
    color: #fff;
    transition: background-color ease 0.5s, box-shadow ease 0.5s, color ease 0.5s;
    border: none;
}

.tabs-buttons .tabs-buttons__button:last-child {
    border-bottom: 1px solid lightgray;
}

.tabs-buttons .tabs-buttons__button.tabs-buttons__button_active {
    background: #0096FF;
    box-shadow: 0px 0px 4px #0096FF;    
    color: #fff;
    border: none;
}

.tabs-containers.data-block-content__tabs-containers {
    float: left;
    width: 70%;
    margin: 5px 0px;
    padding-right: 10px;
}

.tabs-buttons.data-block-content__tabs-buttons {
    float: left;
    width: 30%;
    margin: 5px 0px;
}

/* Button groups */
.create-person-block .btn-group-toggle .btn.active,
.person-data-block .btn-group-toggle .btn.active {
    background-color: #28A745 !important;
    color: #FFF !important;
    border: 1px solid #005300 !important;
}

.btn-group-toggle .btn {
    padding: 7px 10px;
}

/* Loader */
/* Source: https://projects.lukehaas.me/css-loaders/*/
.loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: lightgray;
    background: linear-gradient(to right, lightgray 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: lightgray;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background-color: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: background-color .3s ease-in-out;
}

.btn:hover .loader:after {
    background-color: #ebebeb;
    transition: background-color .3s ease-in-out;
}

@keyframes load3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Images */
.images.tab-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 2%;
}

.images .images__item {
    width: 95%;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    float: left;
    /*padding: 2% 0;*/
    cursor: pointer;
    transition: all ease 0.5s;
    display: flex;
}

.images .images__item:hover {
    border-color: #0096FF;
    background-color: #0096FF;
    transition: all ease 0.5s;
}

.image img {
    width: auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    margin: auto;
}

.image .image__selector {
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.image .image__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

/* Videos */
.videos .videos__item {
    width: 48%;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2% 0;
    cursor: pointer;
    transition: all ease 0.5s;
}

.videos .videos__item:hover {
    border-color: #0096FF;
    background-color: #0096FF;
    transition: all ease 0.5s;
}

.video img {
    width: 100%;
    height: 96%;
    position: relative;
}

.video .video__selector {
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.video .video__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

/*Edit, add data category, data block, data holder, image, video, audio modal */
#add-data-category-modal .form-horizontal, #edit-data-category-modal .form-horizontal,
#add-data-block-modal .form-horizontal, #edit-data-block-modal .form-horizontal,
#add-data-holder-modal .form-horizontal, #edit-data-holder-modal .form-horizontal,
#add-image-modal .form-horizontal, #add-video-modal .form-horizontal,
#privacy-level-modal .form-horizontal, #add-audio-modal .form-horizontal {
    min-height: 0px;
}

#add-data-category-modal .form-control, #edit-data-category-modal .form-control,
#add-data-block-modal .form-control, #edit-data-block-modal .form-control,
#add-data-holder-modal .form-control, #edit-data-holder-modal .form-control,
#add-image-modal .form-control, #add-video-modal .form-control,
#add-audio-modal .form-control {
    font-size: 18px;
}

#privacy-level-modal .form-control {
    font-size: 20px;
}

#privacy-level-modal .modal-dialog {
    width: 650px;
}

#privacy-level-modal #privacy-level-accounts {
    text-align: center;
}

/* Images Modal */
#image-carousel-modal .modal-header {
    position: relative;
    padding: 25px;
    border-bottom-color: #676767;
}

#image-carousel-modal .modal-dialog {
    width: 1000px;
}

#image-carousel-modal .modal-body {
    min-height: 455px;
}

#image-carousel-modal .modal-content {
    background-color: #454545;
    min-height: 597px;
}

#image-carousel-modal .modal-header .close {
    position: absolute;
    right: 25px;
    float: none;
    margin-top: -13px;
    color: white;
    font-size: 30px;
}

#image-carousel-modal .modal-header .close:hover {
    color: white;
}

#image-carousel-modal .modal-footer {
    border-top-color: #676767;
    display: flex;
    justify-content: space-between;
}

#image-carousel-modal .image-details {
    color: #b1b1b1;
}

#image-carousel-modal .modal-footer__pages {
    width: 10%;
    display: flex;
    align-self: center;
    justify-content: center;
}

#image-carousel-modal .modal-footer__buttons {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

#image-carousel-modal .privacy {
    width: 100px;
    margin-right: 5px;
}

#image-carousel-modal .pages__current-page,
#image-carousel-modal .pages__separator,
#image-carousel-modal .pages__count {
    color: #b1b1b1;
}

.image-title .image-title__value textarea {
    width: 100%;
    resize: none;
    background-color: #b1b1b1;
    color: #454545;
}

.image-desc .image-desc__value textarea {
    width: 100%;
    resize: none;
    background-color: #b1b1b1;
    color: #454545;
}

/* Images Slider */
/* Classes names source: https://fls.guru/slick.html */
/* Слайдер */
.slider {
    position: relative;
    padding: 0px 100px;
    height: 415px;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {
    width: 415px;
    height: 415px;
    /*width: auto; 
    max-width: 100%;
    max-height: 100%;
    position: relative;
    height: fit-content;
    width: fit-content;
    align-self: center;*/
}
/* Стрелка */
.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 0;
    width: 100px;
    height: 100px;
    transform: translateY(-50px);
    border: none;
}

.slick-arrow:focus {
    outline: none;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
    background: url(../images/back.png) 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
    background: url(../images/forward.png) 0 0 / 100% no-repeat;
}

/* Videos modal*/
#video-modal .modal-header {
    position: relative;
    padding: 25px;
    border-bottom-color: #676767;
}

#video-modal .modal-dialog {
    width: 1000px;
}

#video-modal .modal-body {
    min-height: 455px;
}

#video-modal .modal-body .row {
    display: flex;
}

#video-modal .modal-content {
    background-color: #454545;
    min-height: 597px;
}

#video-modal .privacy {
    margin-left: 10px;
    width: 100px;
}

#video-modal .modal-header .close {
    position: absolute;
    right: 25px;
    float: none;
    margin-top: -13px;
    color: white;
    font-size: 30px;
}

#video-modal .modal-header .close:hover {
    color: white;
}

#video-modal .modal-footer {
    border-top-color: #676767;
}

.video-container {
    padding-bottom: 5px;
}

.video-container video {
    width: 100%;
    height: 400px;
    border: 1px solid #676767;
}

.video-container video:focus {
    outline: none;
}

.video-details__title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.video-title .video-title__text {
    margin-right: 10px;
    color: #ababab;
}

.video-title .video-title__value {
    flex-grow: 1;
    background-color: #ababab;
    color: #454545;
    border-radius: 5px;
}

.video-title .video-title__value input {
    width: 100%;
    background: transparent;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.video-details__desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.video-desc .video-desc__text {
    color: #ababab;
    margin-bottom: 5px;
}

.video-desc .video-desc__value {
    background-color: #ababab;
    color: #454545;
    border-radius: 5px;
}

.video-desc .video-desc__value textarea {
    width: 100%;
    resize: none;
    background: transparent;
    padding: 5px;
    border-radius: 5px;
}

.video-desc .video-desc__value textarea:focus {
    outline: none;
}

.video-desc .video-desc__value {    
    background-color: #ababab;
    color: #454545;
}

.videos-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.videos-list .videos-list__item {
    background-color: #161616;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all ease 0.5s;
    margin-right: 10px;
}

.videos-list .videos-list__item:hover {
    background-color: #676767;
    transition: all ease 0.5s;
}

.videos-list .videos-list__item:hover .video-info__title{
    color: #252525; 
    transition: all ease 0.5s;
}

.videos-list .videos-list__item_active {
    background-color: #676767;
}

.videos-list .videos-list__item_active .video-info__title {
    color: #252525;
}

.video-info .video-info__title {
    color: #ababab;
    padding: 10px;
}

.video-info .video-info__preview-image img {
    width: 100%;
}

.video-modal-buttons {
    display: flex;
}

.btn.modal-primary-button {
    background: transparent;
    border-radius: 5px;
    border-color: #ababab;
    color: #ababab;
    font-size: 18px;
    transition: all ease 0.5s;
}

.btn.modal-primary-button:hover {
    background-color: #0096FF;
    color: #fff;
    border-color:#fff;
    transition: all ease 0.5s;
}

/* Audio */

.audio {
    display: flex;
}

.audios__item {
    border: 1px solid lightgrey;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 98%;
    padding: 5px 0px;
    align-items: center;
}

.audio .audio__selector {
    width: 10%;
    
    justify-content: center;
}

.audio .audio__selector .checkbox {
    margin: 0;
}

.audio .audio__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

.audio .audio__play {
    width: 10%;
}

.audio .audio__title {
    width: 80%;
    padding: 0px 10px;
}

.audio-container {
    padding-bottom: 5px;
}

.audio-container audio {
    width: 100%;
    height: 100%;
}

#audio-modal .modal-header {
    position: relative;
    padding: 25px;
    border-bottom-color: #676767;
}

#audio-modal .modal-body .row {
    display: flex;
}

#audio-modal .modal-content {
    background-color: #454545;
}

#audio-modal .privacy {
    margin-left: 10px;
    width: 100px;
}

#audio-modal .modal-header .close {
    position: absolute;
    right: 25px;
    float: none;
    margin-top: -13px;
    color: white;
    font-size: 30px;
}

#audio-modal .modal-header .close:hover {
    color: white;
}

#audio-modal .modal-footer {
    border-top-color: #676767;
}

/* Participants */
.participants.tab-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 2%;
}

.participants .participants__item {
    width: 150px;
    height: 250px;
    border: 1px solid lightgray;
    border-radius: 5px;
    float: left;
    /*padding: 2% 0;*/
    cursor: pointer;
    transition: all ease 0.5s;
    display: grid;
    background-color: #003050;
    position: relative;
}

.participants .owner__item:hover {
    border-color: greenyellow;
    background-color: greenyellow;
    transition: all ease 0.5s;
}

.participants .owner__item {
    width: 150px;
    height: 250px;
    border: 1px solid lightgray;
    border-radius: 5px;
    float: left;
    /*padding: 2% 0;*/
    cursor: pointer;
    transition: all ease 0.5s;
    display: grid;
    background-color: green;
    position: relative;
}

.participants .participants__item:hover {
    border-color: #0096FF;
    background-color: #0096FF;
    transition: all ease 0.5s;
}

.participant_info {
    color: white;
    font: 20px Segoe UI Semilight sans-serif;
    position: relative;
    margin: auto;
}

.participant img {
    width: auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    margin: auto;
}

.participant .participant__selector {
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.participant .participant__selector .checkbox input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-top: 0;
}

.patricipants .participants__item {
    width: 95%;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
    float: left;
    /*padding: 2% 0;*/
    cursor: pointer;
    transition: all ease 0.5s;
    display: flex;
}