.privacy-top-secret {
  background-color: #ff3108 !important;
}

.privacy-confidential {
  background-color: #ff7e00 !important;
}

.privacy-internal-use {
  background-color: #ffe60d !important;
}

.privacy-public-use {
  background-color: #8eff05 !important;
}

#privacy-level-modal .btn-group .btn.active {
  border-color: black;
}

.privacy {
  display: flex;
  border: 1px solid #ababab;
  border-radius: 5px;
}

.privacy .privacy__privacy-level {
  border-right: 1px solid #ababab;
  width: 50%;
  border-radius: 4px 0 0 4px;
}

.privacy .privacy__privacy-button {
  background-image: url(../assets/icons/lock-fill.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-origin: content-box;
  background-position-x: 7px;
  background-color: #ababab;
  padding: 5px;
  width: 50%;
  border-radius: 0 4px 4px 0;
}
